{{!
* Cormac Taylor
* I pledge my honor that I have abided by the Stevens Honor System.
}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css"
      rel="stylesheet"
    />
    <style>
      /* Optional: Add some padding around the calendar */ #calendar {
      max-width: 900px; margin: 0 auto; padding: 20px; }
    </style>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/home"
        ><img
            src="/public/images/bokenBoardsLogo.png"
            alt="BokenBoards Logo"
            style="width:42px;height:42px;"
          /></a>
      </div>
      <nav class="navigation">
        {{#if signedIn}}
        <a href="/dashboard">Dashboard</a>
        {{/if}}
        <a href="/games">Discover Games</a>
        <a href="/events">Events</a>
        {{#if signedIn}}
          <a href="/chatroom">Chatroom</a>
          <a href="/logout">Log Out</a>
        {{else}}
          <a href="/signin">Sign In</a>
          <a href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </header>
    {{{body}}}
        <footer class="footer">
            <p>© 2024 BokenBoards | Bringing board gamers together, one move at a time.</p>
        </footer>
  </body>

</html>