{{!--
* Cormac Taylor
* I pledge my honor that I have abided by the Stevens Honor System.
--}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
    <style>
        /* Optional: Add some padding around the calendar */
        #calendar {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        }
    </style>
</head>

<body>
    <header>
        {{!-- site wide header to go here --}}
        <div class="navigation">
            <a href="/home">Home</a>
            <a href="/games">Discover</a>
            <a href="/community">Community</a>
            {{#if signedIn}}
            <a href="/logout">Log Out</a>
            {{/if}}
            {{!-- add buttons as needed --}}
        </div>
    </header>
    {{{body}}}
    <footer>
        <footer class="footer">
            <p>© 2024 BokenBoards | Bringing board gamers together, one move at a time.</p>
        </footer>
        {{!-- site wide footer to go here --}}
    </footer>
</body>

</html>