<h1>Create an event</h1>

{{!-- 
OwnerID
Name of the event 
Location
Host 
Range (if we are getting creative)
--}}

{{!-- Might not need both Username and email, if I have one I can get the other --}}
<form action="/events/createEvent" method = "POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location">
        </div>
        <div class="form-group">
            <label for="description">Event Description:</label>
            <input type="text" id="description" name="description">
        </div>
        <div>
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate">
        </div>
        <div>
            <label for="endDate">Start Date:</label>
            <input type="date" id="endDate" name="endDate">
        </div>

        <div class="form-group">
            <button type="submit" class="submit-button">Create Event</button>
        </div>
        <a href="/events">Events Homepage</a>
    </form>