<h1>Create an event</h1>

{{!-- 
OwnerID
Name of the event 
Location
Host 
Range (if we are getting creative)
--}}

{{!-- Might not need both Username and email, if I have one I can get the other --}}
<form action="/events/createEvent" method = "POST">
        {{!-- <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div> --}}

        <div class="form-group">
            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName" required>
        </div>

        {{!-- <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div> --}}

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
        </div>
        <div class="form-group">
            <label for="description">Event Description:</label>
            <input type="text" id="description" name="description" required>
        </div>
        <div>
            <label for="Date">Start Date:</label>
            <input type="date" id="Date" name="Date" required>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button">Create Event</button>
        </div>
        <a href="/events">Events Homepage</a>
    </form>