<h1>Create an event</h1>
<h2>Conformation email will be sent after the event has been created</h2>

{{!-- 
Name of the event 
Location
Host 
Range (if we are getting creative)
--}}

{{!-- Might not need both Username and email, if I have one I can get the other --}}
<form action="/events/createEvent" method = "POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{createEvent.username}}">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{createEvent.email}}">
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" value="{{createEmail.location}}">
        </div>
        <div class="form-group">
            <label for="description">Event Description:</label>
            <input type="text" id="description" name="description" value="{{createEmail.description}}">
        </div>

        <div class="form-group">
            <button type="submit" class="submit-button">Create Event</button>
        </div>
    </form>