<h1>Event Details</h1>
<h2>{{eventName}}</h2>
<h2>{{eventDescription}}</h2>
<h2>{{contact}}</h2>
<button onclick="window.location.href='/events/rsvp/{{{eventId}}}'">RSVP</button>
<a href="/events">Back to events</a>