<h1>BokenBoards' Events</h1>

<h2>Create a Meetup</h2>
{{!-- Think about using a form w/ button here, it take like 2 seconds to replace (reason: code will look smooth and similar) --}}
<button onclick="window.location.href= '/events/createEvent'"> Create Event</button>

<form action=""></form>