{{!-- home page --}}
<h1>BokenBoards</h1>
{{!-- I need a value to see if the user is signed in or not, I might have to look at the cookies to see if they are already
signed in --}}

<div id="userOptions"></div>

<script>
    let signInButton = document.createElement("button")
        signInButton.textContent = "Sign In"
        signInButton.onclick = () => {
            window.location.href = '/signin'

        }
        let createAccountButton = document.createElement("button")
        createAccountButton.textContent = "Create Account"
        createAccountButton.onclick = () => {
            window.location.href = '/signup'
        }
        
        let buttons = document.getElementById("userOptions")
        buttons.innerHTML = ""

        buttons.append(signInButton)
        buttons.append(createAccountButton)
</script>