{{!-- home page --}}
<h1>BokenBoards</h1>

{{!-- temp navigation buttons --}}
<main>
    <form action="/manage">
        <button>Manage Games</button>
    </form>

    <form action="/signin">
        <button>Sign In</button>
    </form>

    {{#if status}}
    <h3>{{status}}</h3>
    {{/if}}


</main>