{{!-- home page --}}
<h1>BokenBoards</h1>
{{!-- I need a value to see if the user is signed in or not, I might have to look at the cookies to see if they are already
signed in --}}

<div id="userOptions"></div>

{{!-- Think about using a form w/ button here, it take liek 2 seconds to replace (reason: code will look smooth and similar) --}}
{{!-- Check for the status, this will help me reviev information from other webpages like the information that Vraj wants to send to me --}}
<button onclick="window.location.href= '/signin'">Sign In</button>
<button onclick="window.location.href= '/signup'">Create Account</button>
<button onclick="window.location.href= '/events'">See Events Near Me</button>
