{{! home page }}
<h1 id="homeTitle">BokenBoards</h1>
{{! I need a value to see if the user is signed in or not, I might have to look at the cookies to see if they are already
signed in }}
<p id="homeWelcomeMessage">
  Welcome to BokenBoards, your ultimate destination for all things board games!
  Whether you're looking to share games with others, discover community events,
  or explore insightful reviews, BokenBoards connects board game enthusiasts in
  one vibrant hub. Dive into a growing network of gamers, find your next
  favorite game, and join events that bring people together around the tabletop.
  Let's make your board game experience unforgettable!
</p>

<h2 id="someGamesTitle">Some Games Other Gammers are Offering</h1>
<div id="someGames">

</div>
{{! Think about using a form w/ button here, it take liek 2 seconds to replace (reason: code will look smooth and similar) }}
{{! Check for the status, this will help me reviev information from other webpages like the information that Vraj wants to send to me }}
<button onclick="window.location.href= '/events'">Events Near Me</button>

{{! add a banner; add images }}