<h1 id="homeTitle">BokenBoards</h1>
<p id="homeWelcomeMessage">
  Welcome to BokenBoards, your ultimate destination for all things board games!
  Whether you're looking to share games with others, discover community events,
  or explore insightful reviews, BokenBoards connects board game enthusiasts in
  one vibrant hub. Dive into a growing network of gamers, find your next
  favorite game, and join events that bring people together around the tabletop.
  Let's make your board game experience unforgettable!
</p>

<h2 id="someGamesTitle">Some Games Other Gammers are Offering</h2>
<div class="homeImage">
  {{!-- TO DO: insert 5 games dynamiclly --}}
  {{!-- {{#each games}}
    <a href="/games">
    <img src={{games.src}} alt={{games.alt}} />
    </a>
  {{/each}} --}}
  <a href="/games">
    <img src="/public/images/bokenBoardsPoster.png" alt="BokenBoards Logo" />
  </a>
  <a href="/games">
    <img src="/public/images/bokenBoardsPoster.png" alt="BokenBoards Logo" />
  </a>
  <a href="/games">
    <img src="/public/images/bokenBoardsPoster.png" alt="BokenBoards Logo" />
  </a>
    <a href="/games">
    <img src="/public/images/bokenBoardsPoster.png" alt="BokenBoards Logo" />
  </a>
  </a>
    <a href="/games">
    <img src="/public/images/bokenBoardsPoster.png" alt="BokenBoards Logo" />
  </a>
</div>

{{! add a banner; add images }}