<a href="/dashboard" class="home-link">Go Back</a>
    <h1>Manage Games</h1>

    <main>
        <form action="/manage/addGame">
            <button>Add a Game Posting</button>
        </form>

        <form action="/manage/removeGame">
            <button>Remove a Game Posting</button>
        </form>

        {{!-- redundant --}}
        {{!-- <form action="/dashboard/{{user}}">
            <button>Dashboard</button>
        </form> --}}

    </main>
