<article class="profile-update-container">
    <h1>Update Game Posting</h1>

    <h2>Current Location Set to:</h2>
    <p class="curCond">{{game.location.properties.Address.City}}</p>
    <h2>Current Condition Set to:</h2>
    <p class="curCond">{{game.condition}}</p>

    <form action="/manage/modifyGameUpdate" method="POST" class="profile-update-form" id="modGameForm">
        <div class="form-group">
            <label for="attribute">Choose an attribute to update:</label>
            <select id="attribute" name="attribute" onchange="showInputField()">
                <option>Select a field</option>
                <option value="condition">Condition</option>
                <option value="location">Location</option>
            </select>
        </div>

        <div class="form-group" id="valueField" hidden>
            <label for="newValue">New Location:</label>
            <input type="text" id="newValue" name="newValue">
        </div>

        <div class = "form-group" id="conditionField" hidden>
                <label for="newValue">Update the condition of your game:</label>
                <select name="newValue" id="newCond" form="modGameForm">
                    <option value="new">New</option>
                    <option value="like-new">Like-New</option>
                    <option value="used">Used</option>
                    <option value="well-used">Well-Used</option>
                </select>
        </div>

        <div class="form-group">
            <input type="hidden" name="gid" value={{gid}}>
            <button type="submit" class="submit-button">Update Game</button>
        </div>
        {{!-- redundant --}}
        {{!-- <br>
        <a href="/dashboard" class="home-link">Dashboard</a> --}}
    </form>

    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
    {{#if success}}
    <ul class="success-list">
        <li>Game was successfully updated!</li>
    </ul>
    {{/if}}

</article>

<script>
    function showInputField() {
        var attribute = document.getElementById('attribute').value;
        var valueField = document.getElementById('valueField');
        var conditionField = document.getElementById('conditionField');
        if (attribute === "condition") {
            valueField.hidden = true;
            conditionField.hidden = false;
            document.getElementById('newCond').setAttribute('name', attribute);
        } else if (attribute){
            valueField.hidden = false;
            conditionField.hidden = true;
            document.getElementById('newValue').setAttribute('name', attribute);
        } else {
            valueField.hidden = true;
            passwordField.hidden = true;
        }
    }
</script>